@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@source "../";

@theme {
  --color-primary: #5D5FEF;
  --color-primary-light: #7D7FFF;
  --color-primary-dark: #4D4FD0;
  --color-input-border: #66666659;
  --color-text-dark: #434348;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #434348;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}